body{
    text-align: center;
}
.boxes-up, .boxes-down{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.box{
    height: 200px;
    width: 200px;
    margin-right: 20px;
    border: 5px solid black;
    border-radius: 10px;
    cursor: pointer;
}
#red{
    background-color: red;
}
#green{
    background-color: green;
}
#yellow{
    background-color: orange;
}
#blue{
    background-color: blue;
}
@keyframes flash{
    0% {background-color: currentColor;}
    50% {background-color: white;}
    100% {background-color: currentColor;}
}
.flash{
    animation: flash 0.25s ease-in-out;
}